#map {
    height: 100vh;
}



.leaflet-popup-content {
    margin: 0 !important;
    width: 260px !important;
}

.leaflet-popup-content-wrapper {
    padding: 0 !important;
    border-radius: 12px;
}

.leaflet-popup-tip {
    display: none; 
}


.popup-box {
    width: 100%;
    font-family: Arial, sans-serif;
}


.popup-img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 12px 12px 0 0; 
    display: block;
}

.popup-title {
    font-size: 16px;
    font-weight: bold;
    margin: 8px;
}

.popup-stars {
    color: #f4b400;
    font-size: 14px;
    margin: 0 8px;
}

.popup-sub {
    font-size: 13px;
    color: #666;
    margin: 0 8px 10px 8px;
}


.leaflet-tooltip {
    background: white;
    color: black;
    padding: 6px 10px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
    font-size: 14px;
    font-weight: 500;
    border: none;
}



#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 330px;
    height: 100%;
    background: #fff;
    box-shadow: 2px 0 20px rgba(0,0,0,0.25);
    z-index: 1000;
    display: none; 
    overflow-y: auto;
    border-right: 1px solid #ddd;
    animation: slide 0.2s ease-out;
}

@keyframes slide {
    from { transform: translateX(-50px); opacity: 0; }
    to   { transform: translateX(0); opacity: 1; }
}

#sidebarContent {
    padding: 15px;
    font-family: Arial, sans-serif;
}

#sidebarContent img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 15px;
}


#sidebarContent h2 {
    margin: 0 0 8px 0;
    font-size: 20px;
}

/* Botão de fechar */
#closeSidebar {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
}

.leaflet-popup-content {
    width: auto !important;
    max-width: 260px; /* Ajusta o tamanho sem estourar */
}

.leaflet-popup-content img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    display: block;
}

#btnVoltar {
    position: fixed;
    top: 15px;
    right: 15px;   /* ← mudou para direita */
    background: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
    cursor: pointer;
    z-index: 10000;
}
