*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none ;
}
.container{
 margin-left: 20px;

}
:root{
    --black: #000000;
    --azulescuro: #07405b;
    --laranja: #ff7f2a;
    --amarelofraco:#FFC83D;
    --cinzaclaro:#d9d9d9;
    --cinzaforte:#777777;
    --branco: #ffffff;

}
.background-azul{
    background: var(--azulescuro);
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}

.logo a {
    font-size: 30px;
    font-weight: bold;
    color: var(--laranja);
}
.ul{
    display:flex;
    align-items: center;
}
.ul li{
    margin: 0 35px;
    font-size:15px;
}
.ul li a{
    color: var(--branco);
}

.btn-escola {
  display: inline-block;
  background-color: var(--amarelofraco);
  color: white;
  font-size: 16px;
  padding: 10px 18px;
  border: none;               
  outline: none;               
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-escola:hover {
  background-color: var(--cor-hover);
}

.link-contribua {
  font-weight: bold;
  text-decoration: underline;
  color: var(--laranja)
}

.container1{
  margin-top: 280px;
    display:flex;
    align-items: center;
    justify-content:space-between;
    margin-left: 20px;
}

.text-1{
    display:flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 100px;
}

.container2 {
  display: flex;
  flex-direction: column; 
  align-items:first baseline;
  padding: 60px 80px;
}


.container2 h1 {
  text-align: center;
  margin-bottom: 30px;
  
}

.textcolor{
  background: linear-gradient(to right,#07405B, #FF7F2A);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    display: inline-block;
}

.text-botoes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}


.text-description {
  max-width: 500px;
  font-size: 18px;
  line-height: 1.5;
}


.botoes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  margin-left: 700px;
  margin-top: 50px;
}


.botoes button {
  background: linear-gradient(to right, #07405B, #22B2FF);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 220px;
  transition: background-color 0.3s;
}

.botoes button:hover {
  background-color: #0056b3;
}

.text-objetivoalert{
  height: auto;
  width: auto;
  display: flex;
  margin-top: 500px;
  flex-wrap: wrap;

}

.text-description2{
   max-width: 500px;
  font-size: 18px;
  line-height: 1.5;

}

.text-objetivo{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.container3 h1 {
  text-align: center;
  margin-bottom: 30px;
}
.container3 {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 60px 80px;
  gap: 40px; 
  margin-left: 800px;
  margin-top: -500px;
}

.imagem-estudante{
  width: 300px;        
  margin-left: 70px;  
  margin-right: 100px; 
  display: flex;
  margin-top: -600px;
}

.text-p h1{
margin-top:50px;
}

.botoes2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 30px;
  margin-top: 50px;
}
.botoes2 button {
  background-color: #D9D9D9;
  color:#777777;
  border: none;
  border-radius: 28px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 220px;
  transition: background-color 0.3s;
}

.botao-m button {
  background-color: #D9D9D9;
  color:#777777;
  border: none;
  border-radius: 28px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 220px;
  height: 180px;
  transition: background-color 0.3s;

}

.botao-m {
  display: flex;

  align-items: flex-end;
  gap: 15px;
  margin-left: 700px;
  margin-top: -170px;
}
.parte-de-baixo {
    background-color: var(--azulescuro); 
    padding: 100px 0;
    color: white;
    text-align: center;
   width: 100%;
   margin-top: 70px;
}

.textcolor2{
  /* background: linear-gradient(to right,#07405B, #FF7F2A);*/
  background: linear-gradient(to right, #07085b, #f56809);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.textcolor3{
  background: linear-gradient(to right,#07405B, #FF7F2A);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    display: inline-block;
}

